h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40px;
    color:brown;
    background-image: url(image/3.jpg);
    background-color: azure;
    background-position: top;
    background-attachment: fixed;
    padding: 30px;
    background-size:auto;
    backface-visibility: visible;
    background-size: cover;
    background:linear-gradient(90deg,#8360c3,#2ebf91)

}
body{
    background-image: url(image/1.jpg);
    background-color:azure;
    background-attachment: fixed;
    color:rgb(7, 7, 7);
    background-size: cover;
    
}
.element{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    border-radius: 20px;
    border-top: 3px red double;
    border-left: 3px yellow double;
    border-right: 3px green double;
    border-bottom: 3px blue double;
    background-color: brown;
    text-shadow: 2px 1px 5px rgba(, green, blue, alpha);
    opacity::cue-region;
    color:white
}
.taille{
    size: 2em;
}
a:hover{
    color: chartreuse;
}
img:hover{
    opacity: 0.5;
}
a:hover{
    color:blue;
    text-decoration: #8360c3;
}
a:focus{
    color: #8360c3;
}
a:active{
    color: black;
}
a:visited{
    color:green;
}
title{
    padding: 100px 0;
    background-size: cover;
    width: 50%;
    height: 10%;
}
.banner{
    padding: 10px 0;
    background: url(image/13.jpg);
    background-size: cover;
    background-position: center;
    width: 50%;
    text-align: center;
    margin: auto;
}
.conteneur{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 50px;
    flex-wrap: rap;
    padding: 50px;
  }
p{
    margin: 50px;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-right: 100px;
    align-items: stretch;
    margin: auto;
text-align: justify;
}

.position{
    display: flex;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 10px;
    height: 150px;
}
table{
    border-collapse: collapse;
    margin: left:0;
}
td, th{
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: 2px solid black;
    font-size: 20px;
    padding: 20px;
}
caption{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40px;
}
    